.search input {
    border: 0;
    border-radius: 10px;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
  }

  .searchIcon {
    height: 60px;
    width: 50px;
  }
  
  .dataResult {
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    color: black;
  }
  .dataResult .dataItem:hover {
    background-color: #252424;
  }
  .dataItem p {
    margin-left: 10px;
    margin-top: 15px;
  }
  a {
    text-decoration: none;
  }
  
  #clearBtn {
    cursor: pointer;
  }
  