@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}
.logo{
  margin-top: 0;
  width: 50%;
  height: 40%;
}

.imageDiv{  
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
}

.search{
  width: 60px;
  height: 60px;
}

.slider{
  width: 100%;
  height: 80%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 4%;

}
h3,p{
  color: black;
}